.loader {
    border: 3px solid #EEE;
    border-top: 3px solid #999;
    border-right: 3px solid #999;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-top: 10px; 
    margin-right: 10px;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
